<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{816,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{816,343}}</string>
				<key>sourceSize</key>
				<string>{816,343}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1081},{815,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{815,182}}</string>
				<key>sourceSize</key>
				<string>{815,182}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1265},{815,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{815,182}}</string>
				<key>sourceSize</key>
				<string>{815,182}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,374},{820,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{820,179}}</string>
				<key>sourceSize</key>
				<string>{820,179}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,555},{820,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{820,179}}</string>
				<key>sourceSize</key>
				<string>{820,179}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1694},{810,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{810,186}}</string>
				<key>sourceSize</key>
				<string>{810,186}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1449},{814,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{814,243}}</string>
				<key>sourceSize</key>
				<string>{814,243}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1449},{813,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{813,382}}</string>
				<key>sourceSize</key>
				<string>{813,382}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1081},{813,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{813,362}}</string>
				<key>sourceSize</key>
				<string>{813,362}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{828,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{828,372}}</string>
				<key>sourceSize</key>
				<string>{828,372}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>ZeusLinee20.png</string>
			</dict>
		</dict>
</plist>