<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,0},{118,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,154}}</string>
				<key>sourceSize</key>
				<string>{118,154}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,734},{145,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,145}}</string>
				<key>sourceSize</key>
				<string>{146,145}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,566},{158,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{158,166}}</string>
				<key>sourceSize</key>
				<string>{159,170}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,0},{128,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,97}}</string>
				<key>sourceSize</key>
				<string>{128,97}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,566},{133,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{133,103}}</string>
				<key>sourceSize</key>
				<string>{135,103}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,502},{109,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{109,112}}</string>
				<key>sourceSize</key>
				<string>{110,114}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,379},{111,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{111,121}}</string>
				<key>sourceSize</key>
				<string>{113,121}</string>
			</dict>

			<key>TitleBonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{287,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,122}}</string>
				<key>sourceSize</key>
				<string>{287,122}</string>
			</dict>

			<key>bkg_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,594},{175,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,95}}</string>
				<key>sourceSize</key>
				<string>{175,95}</string>
			</dict>

			<key>bkg_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,855},{224,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,55}}</string>
				<key>sourceSize</key>
				<string>{224,55}</string>
			</dict>

			<key>bkg_chipbet.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{230,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,109}}</string>
				<key>sourceSize</key>
				<string>{230,109}</string>
			</dict>

			<key>bkg_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{975,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{975,339}}</string>
				<key>sourceSize</key>
				<string>{975,339}</string>
			</dict>

			<key>bkg_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,548},{263,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,90}}</string>
				<key>sourceSize</key>
				<string>{263,90}</string>
			</dict>

			<key>bkg_hu2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,734},{151,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,284}}</string>
				<key>sourceSize</key>
				<string>{151,285}</string>
			</dict>

			<key>bkg_total_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,424},{202,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,105}}</string>
				<key>sourceSize</key>
				<string>{202,105}</string>
			</dict>

			<key>bkg_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,912},{206,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,106}}</string>
				<key>sourceSize</key>
				<string>{206,106}</string>
			</dict>

			<key>blur1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,0},{161,564}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,1},{161,564}}</string>
				<key>sourceSize</key>
				<string>{167,568}</string>
			</dict>

			<key>blur2.png</key>
			<dict>
				<key>frame</key>
				<string>{{909,341},{161,554}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,10},{161,554}}</string>
				<key>sourceSize</key>
				<string>{167,568}</string>
			</dict>

			<key>blur3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1235,0},{145,553}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,10},{145,553}}</string>
				<key>sourceSize</key>
				<string>{167,568}</string>
			</dict>

			<key>btn_ChooseAll.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,341},{178,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,61}}</string>
				<key>sourceSize</key>
				<string>{178,61}</string>
			</dict>

			<key>btn_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,130},{115,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{115,117}}</string>
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>

			<key>btn_auto_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,617},{116,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,117}}</string>
				<key>sourceSize</key>
				<string>{116,117}</string>
			</dict>

			<key>btn_chooseLine.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,691},{174,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,94}}</string>
				<key>sourceSize</key>
				<string>{174,94}</string>
			</dict>

			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,0},{79,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>sourceSize</key>
				<string>{79,78}</string>
			</dict>

			<key>btn_dontChoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,875},{177,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{177,61}}</string>
				<key>sourceSize</key>
				<string>{177,61}</string>
			</dict>

			<key>btn_even.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,875},{178,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,61}}</string>
				<key>sourceSize</key>
				<string>{178,61}</string>
			</dict>

			<key>btn_maxSpeed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,874},{117,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,117}}</string>
				<key>sourceSize</key>
				<string>{117,117}</string>
			</dict>

			<key>btn_maxSpeed_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,736},{116,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,117}}</string>
				<key>sourceSize</key>
				<string>{116,117}</string>
			</dict>

			<key>btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,502},{96,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,42}}</string>
				<key>sourceSize</key>
				<string>{96,42}</string>
			</dict>

			<key>btn_odd.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,938},{178,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,61}}</string>
				<key>sourceSize</key>
				<string>{178,61}</string>
			</dict>

			<key>btn_quick_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,341},{168,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{168,123}}</string>
				<key>sourceSize</key>
				<string>{169,123}</string>
			</dict>

			<key>btn_search.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,379},{96,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,42}}</string>
				<key>sourceSize</key>
				<string>{96,42}</string>
			</dict>

			<key>btn_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,341},{205,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{205,251}}</string>
				<key>sourceSize</key>
				<string>{210,254}</string>
			</dict>

			<key>btn_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{1232,671},{96,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,41}}</string>
				<key>sourceSize</key>
				<string>{96,41}</string>
			</dict>

			<key>freespin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,341},{342,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{342,81}}</string>
				<key>sourceSize</key>
				<string>{342,81}</string>
			</dict>

			<key>hd.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,537},{96,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,41}}</string>
				<key>sourceSize</key>
				<string>{96,41}</string>
			</dict>

			<key>hu_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,881},{137,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,70}}</string>
				<key>sourceSize</key>
				<string>{138,71}</string>
			</dict>

			<key>hu_x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,938},{138,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,69}}</string>
				<key>sourceSize</key>
				<string>{139,70}</string>
			</dict>

			<key>hu_x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,787},{139,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{139,69}}</string>
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>

			<key>hu_x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,466},{138,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{138,69}}</string>
				<key>sourceSize</key>
				<string>{139,70}</string>
			</dict>

			<key>hu_x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,938},{139,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{139,71}}</string>
				<key>sourceSize</key>
				<string>{140,72}</string>
			</dict>

			<key>icon_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,912},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>

			<key>icon_triangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{977,80},{79,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,78}}</string>
				<key>sourceSize</key>
				<string>{79,78}</string>
			</dict>

			<key>item_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1746,855},{102,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{102,132}}</string>
				<key>sourceSize</key>
				<string>{107,134}</string>
			</dict>

			<key>line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,249},{112,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,63}}</string>
				<key>sourceSize</key>
				<string>{112,63}</string>
			</dict>

			<key>line10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,617},{126,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,63}}</string>
				<key>sourceSize</key>
				<string>{126,63}</string>
			</dict>

			<key>line11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,419},{119,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,62}}</string>
				<key>sourceSize</key>
				<string>{119,62}</string>
			</dict>

			<key>line12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,163},{123,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,62}}</string>
				<key>sourceSize</key>
				<string>{123,62}</string>
			</dict>

			<key>line13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,355},{120,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,62}}</string>
				<key>sourceSize</key>
				<string>{120,62}</string>
			</dict>

			<key>line14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,746},{126,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,62}}</string>
				<key>sourceSize</key>
				<string>{126,62}</string>
			</dict>

			<key>line15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,227},{123,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,62}}</string>
				<key>sourceSize</key>
				<string>{123,62}</string>
			</dict>

			<key>line16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,953},{128,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,62}}</string>
				<key>sourceSize</key>
				<string>{128,62}</string>
			</dict>

			<key>line17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,291},{122,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{122,62}}</string>
				<key>sourceSize</key>
				<string>{122,62}</string>
			</dict>

			<key>line18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,810},{125,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,62}}</string>
				<key>sourceSize</key>
				<string>{125,62}</string>
			</dict>

			<key>line19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,682},{126,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,62}}</string>
				<key>sourceSize</key>
				<string>{126,62}</string>
			</dict>

			<key>line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1751,0},{113,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,63}}</string>
				<key>sourceSize</key>
				<string>{113,63}</string>
			</dict>

			<key>line20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,99},{127,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,62}}</string>
				<key>sourceSize</key>
				<string>{127,62}</string>
			</dict>

			<key>line3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1637,314},{112,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,63}}</string>
				<key>sourceSize</key>
				<string>{112,63}</string>
			</dict>

			<key>line4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1382,483},{118,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,63}}</string>
				<key>sourceSize</key>
				<string>{118,63}</string>
			</dict>

			<key>line5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,65},{114,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,63}}</string>
				<key>sourceSize</key>
				<string>{114,63}</string>
			</dict>

			<key>line6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,874},{117,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,63}}</string>
				<key>sourceSize</key>
				<string>{117,63}</string>
			</dict>

			<key>line7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,939},{117,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,63}}</string>
				<key>sourceSize</key>
				<string>{117,63}</string>
			</dict>

			<key>line8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,65},{115,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,63}}</string>
				<key>sourceSize</key>
				<string>{115,63}</string>
			</dict>

			<key>line9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,0},{117,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,63}}</string>
				<key>sourceSize</key>
				<string>{117,63}</string>
			</dict>

			<key>model_chim.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,594},{204,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,279}}</string>
				<key>sourceSize</key>
				<string>{205,280}</string>
			</dict>

			<key>model_cho.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,548},{259,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,468}}</string>
				<key>sourceSize</key>
				<string>{260,469}</string>
			</dict>

			<key>music.png</key>
			<dict>
				<key>frame</key>
				<string>{{1748,546},{96,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,42}}</string>
				<key>sourceSize</key>
				<string>{96,42}</string>
			</dict>

			<key>text_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{249,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,52}}</string>
				<key>sourceSize</key>
				<string>{249,52}</string>
			</dict>

			<key>text_line1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,163},{127,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,452}}</string>
				<key>sourceSize</key>
				<string>{127,452}</string>
			</dict>

			<key>text_line2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,555},{134,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,449}}</string>
				<key>sourceSize</key>
				<string>{134,449}</string>
			</dict>

			<key>txt_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{287,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,122}}</string>
				<key>sourceSize</key>
				<string>{287,122}</string>
			</dict>

			<key>txt_chooseline.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,640},{249,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,48}}</string>
				<key>sourceSize</key>
				<string>{249,48}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>EgryptAtlas.png</string>
			</dict>
		</dict>
</plist>