<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{931,436}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{931,436}}</string>
				<key>sourceSize</key>
				<string>{932,437}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,438},{827,399}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{827,399}}</string>
				<key>sourceSize</key>
				<string>{828,400}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1196},{883,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{883,345}}</string>
				<key>sourceSize</key>
				<string>{883,345}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,1543},{859,344}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{859,344}}</string>
				<key>sourceSize</key>
				<string>{859,345}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{912,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{912,191}}</string>
				<key>sourceSize</key>
				<string>{913,191}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1736},{854,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{854,191}}</string>
				<key>sourceSize</key>
				<string>{855,191}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1003},{896,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{896,191}}</string>
				<key>sourceSize</key>
				<string>{897,191}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1543},{875,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{875,191}}</string>
				<key>sourceSize</key>
				<string>{876,191}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,1003},{833,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{833,362}}</string>
				<key>sourceSize</key>
				<string>{834,363}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,438},{915,370}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{915,370}}</string>
				<key>sourceSize</key>
				<string>{915,370}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>EgryptLine20.png</string>
			</dict>
		</dict>
</plist>