<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Dragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,340},{187,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{187,107}}</string>
				<key>sourceSize</key>
				<string>{192,107}</string>
			</dict>

			<key>Grand_Dragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,860},{214,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{214,119}}</string>
				<key>sourceSize</key>
				<string>{218,120}</string>
			</dict>

			<key>Same_Colors.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,740},{214,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{214,118}}</string>
				<key>sourceSize</key>
				<string>{218,119}</string>
			</dict>

			<key>Six_Pairs.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,232},{172,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,93}}</string>
				<key>sourceSize</key>
				<string>{172,93}</string>
			</dict>

			<key>Three_Flushes.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,740},{214,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{214,119}}</string>
				<key>sourceSize</key>
				<string>{218,119}</string>
			</dict>

			<key>Three_Straights.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,859},{214,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{214,120}}</string>
				<key>sourceSize</key>
				<string>{218,120}</string>
			</dict>

			<key>arranging.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{243,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,61}}</string>
				<key>sourceSize</key>
				<string>{243,61}</string>
			</dict>

			<key>flush_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,124},{126,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,52}}</string>
				<key>sourceSize</key>
				<string>{126,52}</string>
			</dict>

			<key>flush_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,570},{126,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,52}}</string>
				<key>sourceSize</key>
				<string>{126,52}</string>
			</dict>

			<key>four_of_a_kind_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{259,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,53}}</string>
				<key>sourceSize</key>
				<string>{259,53}</string>
			</dict>

			<key>four_of_a_kind_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{259,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{259,53}}</string>
				<key>sourceSize</key>
				<string>{259,53}</string>
			</dict>

			<key>fullhouse_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,402},{242,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,52}}</string>
				<key>sourceSize</key>
				<string>{242,52}</string>
			</dict>

			<key>fullhouse_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,455},{242,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,52}}</string>
				<key>sourceSize</key>
				<string>{242,52}</string>
			</dict>

			<key>highcard_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{241,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,61}}</string>
				<key>sourceSize</key>
				<string>{241,61}</string>
			</dict>

			<key>highcard_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,508},{241,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{241,61}}</string>
				<key>sourceSize</key>
				<string>{241,61}</string>
			</dict>

			<key>pair_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,62},{100,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,53}}</string>
				<key>sourceSize</key>
				<string>{100,53}</string>
			</dict>

			<key>pair_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,177},{100,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,53}}</string>
				<key>sourceSize</key>
				<string>{100,53}</string>
			</dict>

			<key>ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,448},{154,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,59}}</string>
				<key>sourceSize</key>
				<string>{154,59}</string>
			</dict>

			<key>straight_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,508},{196,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,61}}</string>
				<key>sourceSize</key>
				<string>{196,61}</string>
			</dict>

			<key>straight_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,632},{196,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,61}}</string>
				<key>sourceSize</key>
				<string>{196,61}</string>
			</dict>

			<key>straight_flush_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,62},{321,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,61}}</string>
				<key>sourceSize</key>
				<string>{322,61}</string>
			</dict>

			<key>straight_flush_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{322,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{322,61}}</string>
				<key>sourceSize</key>
				<string>{322,61}</string>
			</dict>

			<key>three_of_a_kind_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{258,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,53}}</string>
				<key>sourceSize</key>
				<string>{258,53}</string>
			</dict>

			<key>three_of_a_kind_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,232},{258,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,53}}</string>
				<key>sourceSize</key>
				<string>{258,53}</string>
			</dict>

			<key>two_pair_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,686},{227,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,53}}</string>
				<key>sourceSize</key>
				<string>{227,53}</string>
			</dict>

			<key>two_pair_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,632},{227,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,53}}</string>
				<key>sourceSize</key>
				<string>{227,53}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>TextCardBinh.png</string>
			</dict>
		</dict>
</plist>