<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12644975925-b59mlf5m8sbeg0ngm45ra66ih7urhf8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12644975925-b59mlf5m8sbeg0ngm45ra66ih7urhf8n</string>
	<key>API_KEY</key>
	<string>AIzaSyBPNneQCNGMIdIl_jhAatO6Nxr7t3oLOXI</string>
	<key>GCM_SENDER_ID</key>
	<string>12644975925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naga.slots</string>
	<key>PROJECT_ID</key>
	<string>naga-slots</string>
	<key>STORAGE_BUCKET</key>
	<string>naga-slots.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12644975925:ios:75f6779d51bbc2f676787c</string>
	<key>DATABASE_URL</key>
	<string>https://naga-slots.firebaseio.com</string>
</dict>
</plist>